:root {
    --fontSizeSmall: 0.8rem;
    --fontSizeMedium: 1rem;
    --fontSizeLarge: 1.2rem;
    --fontSizeXLarge: 1.8rem;
    --fontSizeXmLarge: 2.4rem;
    --fontSizeXXLarge: 3rem;
    --fontSizeXXXLarge: 4rem;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5;
}

::-webkit-scrollbar-corner {
    background: rgb(145, 145, 145);
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: rgb(166, 4, 4);
}
